svg:not(:root) {
    overflow: visible;
}

:root {
    --logospd: 4s;
    --locy: 30%;
}

body {
    background-color: #7ec6df;
}

.color1 {
    fill: #b9376f;
}

.animate #logo-L {
    animation: FadeIn var(--logospd) .5s forwards;
    transform: translate(5%, var(--locy));
    transform-origin: center left;
    opacity: 0;
}

.animate #logo-O {
    animation: FadeIn var(--logospd) 1s forwards;
    transform: translate(10%, var(--locy));
    transform-origin: center left;
    opacity: 0;
}

.animate #logo-V {
    animation: FadeIn var(--logospd) 1.5s forwards;
    transform: translate(15%, var(--locy));
    transform-origin: center left;
    opacity: 0;
}

.animate #logo-E {
    animation: FadeIn var(--logospd) 2s forwards;
    transform: translate(20%, var(--locy));
    transform-origin: center left;
    opacity: 0;
}

.animate #logo-A {
    animation: FadeIn var(--logospd) 2.7s forwards;
    transform: translate(30%, var(--locy));
    transform-origin: center left;
    opacity: 0;
}

.animate #logo-I {
    animation: FadeIn var(--logospd) 2.7s forwards;
    transform: translate(30%, var(--locy));
    transform-origin: center left;
    opacity: 0;
}

.animate #startBtn {
    animation: FadeIn var(--logospd) 3.3s forwards;
    opacity: 0;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    20%, 100% {
        opacity: 1;
    }
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ffe4ef !important;
    border-color: #ffe4ef !important;
    color: #cf3e3b;
    font-family: cursive;
    width: 15%;
    height: 8%;
    font-size: 5vw;
    padding:0;
}